@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply scroll-pt-3 scroll-smooth  text-base roboto-regular;
        /* see https://www.getrevue.co/profile/shrutibalasa/issues/did-you-know-about-scroll-padding-easy-solution-to-fixed-header-problem-1325973 */
    }

    * {
        /* outline: 1px #0ae4ff solid;*/
    }

    a {
        @apply hover:text-carto-pink
    }

    body {
        @apply antialiased text-carto-main;
    }

    img, video, iframe {
        @apply object-cover max-w-full object-top-center;
        block-size: auto;
        /*max-inline-size: 100%;*/
        /* see https://web.dev/learn/design/responsive-images/ */
    }
}

@layer components {
    #app {
        @apply grid min-h-screen;
        grid-template-rows: auto 1fr auto;
    }

    .alert {
        @apply border px-4 py-3 rounded relative w-full
    }

    .alert-info {
        @apply bg-green-400 text-gray-500
    }

    .alert-success {
        @apply bg-green-400 text-white
    }

    .alert-danger {
        @apply bg-red-400 text-white
    }

    .lobster-two-regular {
        font-family: "Lobster Two", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .lobster-two-regular-italic {
        font-family: "Lobster Two", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .lobster-two-bold {
        font-family: "Lobster Two", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .lobster-two-bold-italic {
        font-family: "Lobster Two", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

    [x-cloak] {
        display: none;
    }
}